In [4]:
import os
import pandas as pd
import numpy as np

os.getcwd()

'C:\\Users\\Kaushal M Acharya'

In [5]:
os.chdir("D:\Python_JupyterNB")

In [6]:
os.getcwd()

'D:\\Python_JupyterNB'

In [7]:
FullRaw = pd.read_csv("Telecom_churn.csv")

In [8]:
FullRaw.isnull().sum()

customerID                 0
gender                     0
SeniorCitizen              0
Partner                    0
Dependents                 0
tenure                     0
CallService                0
MultipleConnections        0
InternetConnection         0
OnlineSecurity             0
OnlineBackup               0
DeviceProtectionService    0
TechnicalHelp              0
OnlineTV                   0
OnlineMovies               0
Agreement                  0
BillingMethod              0
PaymentMethod              0
MonthlyServiceCharges      0
TotalAmount                0
Churn                      0
dtype: int64

In [9]:
FullRaw_Summary = FullRaw.describe()

In [10]:
print(FullRaw_Summary)

       SeniorCitizen        tenure  MonthlyServiceCharges   TotalAmount
count   12335.000000  12335.000000           12335.000000  12335.000000
mean        0.157254     29.531543              61.502934   2032.263356
std         0.349871     23.342738              28.673113   2120.078007
min         0.000000      1.000000              18.250000     18.800000
25%         0.000000      8.000000              33.886556    352.743728
50%         0.000000     24.000000              64.364917   1209.250000
75%         0.000000     49.000000              85.000000   3168.750000
max         1.000000     72.000000             118.750000   8684.800000

In [11]:
FullRaw.drop(['customerID'], axis=1,inplace=True)

In [12]:
FullRaw['Churn']= np.where(FullRaw['Churn']=='Yes',1,0)
FullRaw.shape

(12335, 20)

In [13]:
FullRaw.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,CallService,MultipleConnections,InternetConnection,OnlineSecurity,OnlineBackup,DeviceProtectionService,TechnicalHelp,OnlineTV,OnlineMovies,Agreement,BillingMethod,PaymentMethod,MonthlyServiceCharges,TotalAmount,Churn
0,Female,0.0,Yes,Yes,11.0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,No,Mailed check,20.60,233.90,0
1,Female,0.0,No,No,67.0,No,No phone service,DSL,No,No,Yes,Yes,Yes,Yes,Month-to-month,Yes,Credit card (automatic),53.40,3579.15,0
2,Female,0.0,Yes,No,59.0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Bank transfer (automatic),18.40,1057.85,0
3,Male,0.0,Yes,Yes,67.0,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,26.30,1688.90,0
4,Female,0.0,No,No,11.0,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,No,Electronic check,75.25,888.65,0

In [14]:
FullRaw2 = pd.get_dummies(FullRaw)

In [15]:
FullRaw2.head()

,SeniorCitizen,tenure,MonthlyServiceCharges,TotalAmount,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,...,OnlineMovies_Yes,Agreement_Month-to-month,Agreement_One year,Agreement_Two year,BillingMethod_No,BillingMethod_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0.0,11.0,20.60,233.90,0,1,0,0,1,0,...,0,0,1,0,1,0,0,0,0,1
1,0.0,67.0,53.40,3579.15,0,1,0,1,0,1,...,1,1,0,0,0,1,0,1,0,0
2,0.0,59.0,18.40,1057.85,0,1,0,0,1,1,...,0,0,0,1,1,0,1,0,0,0
3,0.0,67.0,26.30,1688.90,0,0,1,0,1,0,...,0,0,0,1,1,0,0,0,0,1
4,0.0,11.0,75.25,888.65,0,1,0,1,0,1,...,0,1,0,0,1,0,0,0,1,0

In [16]:
FullRaw2.shape

(12335, 46)

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
Train, Test = train_test_split(FullRaw2, test_size=0.3, random_state=123)

In [19]:
Train_X=Train.drop('Churn',axis=1).copy()

In [20]:
Train_Y=Train['Churn'].copy()

In [21]:
Test_X=Test.drop('Churn',axis=1).copy()

In [22]:
Test_Y=Test['Churn'].copy()

In [23]:
Train_X.shape

(8634, 45)

In [24]:
Test_X.shape

(3701, 45)

In [25]:
Train_Y.shape

(8634,)

In [26]:
Test_Y.shape

(3701,)

In [27]:
from sklearn.tree import DecisionTreeClassifier

In [28]:
M1=DecisionTreeClassifier(random_state=123)

In [30]:
M1=M1.fit(Train_X,Train_Y)

In [31]:
#Model Visualization

In [32]:
#Visualization steps for DT

In [33]:
pip install pydotplus

Requirement already satisfied: pydotplus in d:\anacona_newd\anacona_new\lib\site-packages (2.0.2)
Requirement already satisfied: pyparsing>=2.0.1 in d:\anacona_newd\anacona_new\lib\site-packages (from pydotplus) (2.4.7)
Note: you may need to restart the kernel to use updated packages.

In [35]:
import pydotplus
from sklearn.tree import export_graphviz

In [36]:
dot_data=export_graphviz(M1, out_file=None, feature_names=Train_X.columns)

In [38]:
graph=pydotplus.graph_from_dot_data(dot_data)

In [39]:
graph.write_pdf("Churn_DT_Plot.pdf")

True

In [40]:
graph.write_jpg("DT_Plot2.jpg")

dot: graph is too large for cairo-renderer bitmaps. Scaling by 0.511098 to fit

True

In [41]:
#Prediction and Validation

In [42]:
from sklearn.metrics import confusion_matrix

In [43]:
#Prediction on Test set

In [45]:
Test_Pred = M1.predict(Test_X)

In [46]:
#Classification and model Validation

In [47]:
Confusion_Mat=confusion_matrix(Test_Y,Test_Pred)

In [48]:
Confusion_Mat # R, C format (Actual = Test_Y, Predicted = Test_Pred)

array([[1819,  211],
       [ 349, 1322]], dtype=int64)

In [49]:
#Check accuracy of the model

In [50]:
sum(np.diagonal(Confusion_Mat))/Test_X.shape[0]*100

84.86895433666577

In [51]:
# Precision, Recall, FPR, F1-Score

In [52]:
from sklearn.metrics import precision_score, recall_score, f1_score

In [53]:
precision_score(Test_Y, Test_Pred) # Precision

0.8623613829093281

In [54]:
recall_score(Test_Y, Test_Pred) # Recall

0.7911430281268701

In [55]:
f1_score(Test_Y, Test_Pred) # F1-Score

0.8252184769038701

In [56]:
Confusion_Mat[0][1]/sum(Confusion_Mat[0]) # FPR

0.10394088669950739

In [57]:
Confusion_Mat[0][1]/sum(Confusion_Mat[0])

0.10394088669950739